@media screen and (max-width: 1025px) {
	
	.logo-full {
		a {
			margin-top: 14%;
			width: 120px;
		} 
	}
}

@media screen and (max-width: 1000px) {

	.view-animate-container {
		overflow: auto;
	}
	.menu-agency {
		display: none;
	}
	.p1-1 {
		img {
			width: 30%;
		}
	}
	.p1-1 {

	}
	.p1-2,.p1-3,.p1-4 {
		margin-bottom: 6%;
		.icone-organisation {
			width: 10% !important;
			text-align: center;
		}
		p {
			width: 50%;
			margin-bottom:2%;
		}
		br {
			display: none;
		}
	}

	.client {
		cursor: default;
	}
}

@media screen and (max-width: 820px) {
	
	.logo-full {
		display: none!important;
	}
}

@media screen and (max-width: 770px) {
	
	.nav-bottom {
		display: none!important;
	}

}