@media screen and (max-width: 770px) {
  /* line 3, ../sass/mobile.scss */
  .desktop {
    display: none;
  }

  /* line 6, ../sass/mobile.scss */
  .mobile {
    display: block;
  }
  /* line 7, ../sass/mobile.scss */
  .mobile .vm {
    padding: 2%;
  }
}
