<div class="opacity"></div>
<div id="map"></div>
	<div class="row contact">
		<span class="closeUp close"><i class="fa fa-eye"></i>&nbsp;Voir la carte</span>
				<div class="col-md-8">
				<span class="open close"><i class="fa fa-chevron-left"></i></span>
		<form role="form" ng-submit="contact.sendMail()">
		    <div class="mtop-1">
		        <label for="nom">Nom :</label>
		        <input type="text" name="nom" class="form-control" required placeholder="Nom" ng-model="contact.name" />
		    </div>
		    <div class="mtop-1">
		        <label for="mail">Mail :</label>
		        <input type="email" name="email" class="form-control" required placeholder="Email"  ng-model="contact.email" />
		    </div>
		    <div class="mtop-1">
		        <label for="sujet">Sujet :</label>
		        <input type="text" name="subject" class="form-control" required placeholder="Sujet"  ng-model="contact.subject" />
		    </div>
		    <div class="mtop-1">
		        <label for="message">Message :</label>
		        <textarea type="textarea" name="message" class="form-control" required placeholder="Votre message" rows="4"  cols="50"  ng-model="contact.message" /></textarea>
		    </div>
		    
		    <div class="button mtop-1">
		        <button class="form-control" type="submit" id="submit">Envoyer votre message</button>
		    </div>
		</form>
		</div>
		<div class="col-md-4 mtop-1">
			<p>Altimus360° <br>
			34 Boulevard du Temple <br>
			75011 Paris <br><br>
			<a href="mailto:contact@altimus360.com?subject=subject">contact@altimus360.com</a> <br><br>
			01.75.43.16.60
			</p>
		</div>

		
	</div>
<script type="text/javascript">
	function initMap() {
	  var styleArray = [
	    {
	      featureType: "all",
	      stylers: [
	       { saturation: -80 }
	      ]
	    },{
	      featureType: "road.arterial",
	      elementType: "geometry",
	      stylers: [
	        { hue: "#00ffee" },
	        { saturation: 50 }
	      ]
	    },{
	      featureType: "poi.business",
	      elementType: "labels",
	      stylers: [
	        { visibility: "off" }
	      ]
	    }
	  ];

	  var myLatLng = {lat: 48.8652609, lng: 2.3635893};

	  // Create a map object and specify the DOM element for display.
	  var map = new google.maps.Map(document.getElementById('map'), {
	    center: myLatLng,
	    scrollwheel: false,
	    zoom: 12
	  });

	  // Create a marker and set its position.
	  var marker = new google.maps.Marker({
	    map: map,
	    position: myLatLng,
	    title: 'Altimus 360'
	  });

	}
</script>

<!-- google map -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnrrx23k58PbBrTUbRn4w4G3cxqSuQ8Ig&callback=initMap"></script>
<!-- end google map -->