<div class="opacity"></div>
<div id="map"></div>
	<div class="row contact">
		<span class="closeUp close"><i class="fa fa-eye"></i>&nbsp;Voir la carte</span>
		<span class="open close"><i class="fa fa-chevron-left"></i></span>
		<p>Altimus360° <br>
		34 Boulevard du Temple <br>
		75011 Paris <br><br>
		<a href="mailto:contact@altimus360.com">contact@altimus360.com</a> <br><br>
		01.75.43.16.60
		</p>
	</div>
<script type="text/javascript">
	function initMap() {
	  var styleArray = [
	    {
	      featureType: "all",
	      stylers: [
	       { saturation: -80 }
	      ]
	    },{
	      featureType: "road.arterial",
	      elementType: "geometry",
	      stylers: [
	        { hue: "#00ffee" },
	        { saturation: 50 }
	      ]
	    },{
	      featureType: "poi.business",
	      elementType: "labels",
	      stylers: [
	        { visibility: "off" }
	      ]
	    }
	  ];

	  var myLatLng = {lat: 48.8652609, lng: 2.3635893};

	  // Create a map object and specify the DOM element for display.
	  var map = new google.maps.Map(document.getElementById('map'), {
	    center: myLatLng,
	    scrollwheel: false,
	    zoom: 12
	  });

	  // Create a marker and set its position.
	  var marker = new google.maps.Marker({
	    map: map,
	    position: myLatLng,
	    title: 'Altimus 360'
	  });

	}
</script>
<!-- google map -->
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_eB7r1QetfYPU1EY_f2c8uKrqTzXfXME&callback=initMap"></script>
<!-- end google map -->