<div class="home">
	<div class="content-home animated slideInDown">
		<div class="logo">
			<img src="images/rond-seul-2.png" alt="logo Altimus">
		</div>
		<div id="circle"></div>
		<a href="/agence"><div class="user u-1">
			<p>L'AGENCE</p>
		</div></a>
		<a href="/nous"><div class="user u-2">
			<p>NOUS</p>
		</div></a>
		<a href="/nos-savoir-faire/digital-et-web-developpement"><div class="user u-4">
			<p>NOS <br>SAVOIR <br>FAIRE</p>
		</div></a>
		<a href="/vous"><div class="user u-6">
			<p>VOUS</p>
		</div></a>
	</div>
</div>
