<div class="p1-1">
	<div class="menu-agency">
		<li><a href="/agence/manifeste">Notre manifeste</a></li>|
		<li><a href="/agence/valeurs">Nos valeurs</a></li>|
		<li><a href="/agence/organisation">Notre organisation</a></li>|
		<li><a href="/agence/vision">Notre vision</a></li>
	</div>
	<div class="sec">
		<center>
			<h3>L'AGENCE</h3>
			<h2>- Notre Manifeste -</h2>
		</center>
			<div class="row">
				<div class="col-md-3 col-sm-8">
					<img src="images/heart.png" alt="">
					<p>Nous aimons...</p>
				</div>
				<div class="col-md-2 col-sm-4">
					<img src="images/photo-1443304895043-ef30921332c5.jpg" class="icone-organisation animated flip">
				</div>
				<div class="col-md-7 col-sm-12">
					<ul>
						<li>Accompagner les projets nouveaux, innovants, entreprenant.</li>
						<li>Construire&nbsp;des&nbsp;opérations&nbsp;où&nbsp;la&nbsp;communication&nbsp;et&nbsp;la&nbsp;promotion&nbsp;s’enrichissent.</li>
						<li>Apporter de l’efficacité et de performance.</li>
						<li>Aller au-delà de l’écume des choses pour révéler le sens.</li>
						<li>Apporter de la simplicité dans la complexité.</li>
						<li>Avoir une approche globale pour avoir de la cohérence.</li>
					</ul>
				</div>
			</div>
	</div>
</div>
