<div class="p1-2">
	<div class="menu-agency">
		<li><a href="/agence/manifeste">Notre manifeste</a></li>|
		<li><a href="/agence/valeurs">Nos valeurs</a></li>|
		<li><a href="/agence/organisation">Notre organisation</a></li>|
		<li><a href="/agence/vision">Notre vision</a></li>
	</div>
	<div class="sec">
			<center>
				<h3>L'AGENCE</h3>
				<h2>- Nos Valeurs -</h2>
			<div class="row">
				<div class="col-md-2  col-md-offset-1">
					<img src="images/fusée.png" class="icone-organisation animated bounceInDown">
					<h4>La Curiosité</h4>
					<br>
					<p>Source d’inspiration
					et de créativité,
					notre curiosité nous guide vers la nouveauté.</p>
				</div>
				<div class="col-md-2">
					<img src="images/casque.png" class="icone-organisation animated bounceInLeft">
					<h4>L’Écoute</h4>
					<br>
					<p>Nous sommes
					à votre écoute pour
					répondre au plus proche de vos envies.
					</p>
				</div>
				<div class="col-md-2">
					<img src="images/agenda.png" class="icone-organisation animated bounceInRight">
					<h4>La Disponibilité</h4>
					<br>
					<p>Nous nous rendons
					disponible à tous vos
					besoins en toute transparence et avec réactivité.</p>
				</div>
				<div class="col-md-2">
					<img src="images/sport.png" class="icone-organisation animated bounceInUp">
					<h4>L’exigence</h4>
					<br>
					<p>La réussite se cache dans le détail. Elle est notre unique satisfaction. </p>
				</div>
				<div class="col-md-2">
					<img src="images/gens.png" class="icone-organisation animated bounceInDown">
					<h4>L’Humilité</h4>
					<br>
					<p>La critique constructive nous fait progresser et respecter nos valeurs.</p>
				</div>
			</div>
			</center>
		</div>
</div>
