<div class="p1-3">
<div class="menu-agency">
	<li><a href="/agence/manifeste">Notre manifeste</a></li>|
	<li><a href="/agence/valeurs">Nos valeurs</a></li>|
	<li><a href="/agence/organisation">Notre organisation</a></li>|
	<li><a href="/agence/vision">Notre vision</a></li>
</div>
<div class="sec">
		<center>
			<h3>L'AGENCE</h3>
			<h2>- Notre Organisation -</h2>
			<div class="row">
				<div class="col-md-2 col-md-offset-3">
					<img src="images/bousole.png" class="icone-organisation animated tada">
					<h4>Conseil Stratégique</h4>
					<br>
					<p>Nous vous conseillons
					et vous accompagnons dans vos choix
					stratégiques.</p>
				</div>
				<div class="col-md-2">
					<img src="images/stylo.png" class="icone-organisation animated wobble">
					<h4>Atelier de Création</h4>
					<br>
					<p>Nous réalisons pour vous des créations uniques
					et puissantes.</p>
				</div>
				<div class="col-md-2">
					<img src="images/loupe.png" class="icone-organisation animated jello">
					<h4>Studio de Production</h4>
					<br>
					<p>Nous produisons de A à Z vos projets avec un haut niveau de qualité.</p>
				</div>
			</div>
		</center>
	</div>
</div>
