<div class="p1-4">
<div class="menu-agency">
	<li><a href="/agence/manifeste">Notre manifeste</a></li>|
	<li><a href="/agence/valeurs">Nos valeurs</a></li>|
	<li><a href="/agence/organisation">Notre organisation</a></li>|
	<li><a href="/agence/vision">Notre vision</a></li>
</div>
	
		<div class="sec">
		<center>
			<h3>L'AGENCE</h3>
			<h2>- Notre Vision -</h2>
			<div class="row">
				<p>Innover – Eclairer - Guider</p>
				<img src="images/Photo phare Altimus.jpg" class="icone-organisation animated zoomIn">
				<p>Nous vous accompagnons pour créer de la valeur et renforcer votre légitimité. Nos motivations sont de faire émerger votre différence.</p>
			</div>
		</center>
	</div>
</div>
