<div class="p3">
<center>
	<div class="menu-agency">
		<li><a href="/nos-savoir-faire/digital-et-web-developpement">Digital & web-développement</a></li>|
		<li><a href="/nos-savoir-faire/webmarketing">Webmarketing</a></li>|
		<li><a href="/nos-savoir-faire/fundraising">Fundraising</a></li>|
		<li><a href="/nos-savoir-faire/communication-interne">Communication interne</a></li>
	</div>
</center>
<div class="sec">
	<center>
		<h3>NOS SAVOIR-FAIRE</h3>
		<h2>- Fundraising -</h2>
			<div class="row">
				<div class="col-md-4">
					<img src="images/lampe.png" class="icone-organisation animated tada">
					<h4>Levez des fonds</h4>
					<br>
					<p>Que vous soyez une ONG, une
association ou un projet innovant
nous mobilisons les différents réseaux
pour vous aider à lever des
fonds.</p>
				</div>
				<div class="col-md-4">
					<img src="images/user.png" class="icone-organisation animated wobble">
					<h4>Grands donateurs</h4>
					<br>
					<p>Pour séduire les grands donateurs
nous mettons tout en oeuvre, de
la location de fichier à la création
d’événements, du mailing aux rendez-
vous.</p>
				</div>
				<div class="col-md-4">
					<img src="images/pouce.png" class="icone-organisation animated jello">
					<h4>Petits donateurs</h4>
					<br>
					<p>Nous dynamisons la collecte
auprès des petits donateurs en
pensant des plateformes innovantes,
des campagnes uniques
et nous les séduisons.</p>
				</div>
			</div>
		</center>
	</div>
</div>
