<div class="p3">
<center>
	<div class="menu-agency">
		<li><a href="/nos-savoir-faire/digital-et-web-developpement">Digital & web-développement</a></li>|
		<li><a href="/nos-savoir-faire/webmarketing">Webmarketing</a></li>|
		<li><a href="/nos-savoir-faire/fundraising">Fundraising</a></li>|
		<li><a href="/nos-savoir-faire/communication-interne">Communication interne</a></li>
	</div>
</center>
<div class="sec">
	<center>
		<h3>NOS SAVOIR-FAIRE</h3>
		<h2>- Digital & web-développement -</h2>
			<div class="row">
				<div class="col-md-3">
					<img src="images/web.png" class="icone-organisation animated tada">
					<h4>Création de sites web</h4>
					<br>
					<p>Nous vous accompagnons dans la réflexion de vos problématiques web et développons sur-mesure le site qu’il vous faut.</p>
				</div>
				<div class="col-md-3">
					<img src="images/tools.png" class="icone-organisation animated wobble">
					<h4>Gestion facilitée</h4>
					<br>
					<p>Nous vous proposons d’utiliser Worpress ou Prestashop pour gérer facilement votre site web mais nous pouvons également créer l’interface que vous voulez.</p>
				</div>
				<div class="col-md-3">
					<img src="images/bousole.png" class="icone-organisation animated jello">
					<h4>Référencement optimisé</h4>
					<br>
					<p>Afin que votre site soit facilement trouvé par les internautes, nous optimisons le SEO (référencement naturel) de votre site pour qu’il remonte sur Google.</p>
				</div>
				<div class="col-md-3">
					<img src="images/graph.png" class="icone-organisation animated jello">
					<h4>Webmarketing</h4>
					<br>
					<p>Quel que soit votre site ou application mobile, nous travaillons à augmenter ses performances en terme de trafic ou de chiffre d’affaires</p>
				</div>
			</div>
		</center>
	</div>
</div>
