<div class="p4">
	<h2 id="team-title">- Notre Equipe -</h2>
	<div class="content-team">
		<div id="circle"></div>
		<div class="user u-1">
			<p>JEAN<br>BAPTISTE<br>FOURTAN&Eacute;</p>
		</div>
		<div class="user u-2">
			<p>VALENE<br>BRUCE</p>
		</div>
		<div class="user u-3">
			<p>CLAIRE<br>FAIVRE</p>
		</div>
		<div class="user u-4">
			<p>MORGAN<br>DE<br>LAVENNE</p>
		</div>
		<div class="user u-5">
			<p>FABIEN<br>ROSSI</p>
		</div>
		<div class="user u-6">
			<p>ARMAND<br>DESTAIS</p>
		</div>
		<div class="user u-7">
			<p>DIEUDONN&Eacute;<br>DE<br>LAVENNE</p>
		</div>
	</div>
	<div class="stick-team p-1 c-1">
		<img src="images/jb.png" alt="">
		<h3>Jean-Baptiste Fourtané</h3>
		<h5>Président & Consultant Senior</h5>
		<p><b>Aime :</b> les rencontres inattendues, les bons déjeuners, la Bretagne <br>
		<b>N’aime pas :</b> la routine, les vacances, la facilité
		</p>
	</div>
	<div class="stick-team p-1 c-2">
		<img src="images/valene.png" alt="">
		<h3>Valène Bruce</h3>
		<h5>Chargée d’Etudes & Assistante</h5>
		<p><b>Aime :</b> la France, le rock, les JO <br>
		<b>N’aime pas :</b> Faire des budgets, s’ennuyer, Photoshop
		</p>
	</div>
	<div class="stick-team p-1 c-3">
		<img src="images/claire.png" alt="">
		<h3>Claire Faivre</h3>
		<h5>Responsable de Contenus & Relations Publiques</h5>
		<p><b>Aime :</b> le shopping, râler, les réseaux sociaux <br>
		<b>N’aime pas :</b> conduire, les fautes d’orthographes, les choux de Bruxelles
		</p>
	</div>
	<div class="stick-team p-2 c-4">
		<img src="images/morgan.png" alt="">
		<h3>Morgan de Lavenne</h3>
		<h5>Web developpeur & Intégrateur</h5>
		<p><b>Aime :</b> Internet, les jeux vidéo, sa Maman <br>
		<b>N’aime pas :</b> les sites web mal fait, les épinards, le film &Ccedil;a
		</p>
	</div>
	<div class="stick-team p-2 c-5">
		<img src="images/fabien.png" alt="">
		<h3>Fabien Rossi</h3>
		<h5>Chef de Publicité & Planneur Stratégique</h5>
		<p><b>Aime :</b> le soleil, la créativité, les voyages <br>
		<b>N’aime pas :</b> le froid, un design peu travaillé, les râleurs
		</p>
	</div>
	<div class="stick-team p-2 c-6">
		<img src="images/armand.png" alt="">
		<h3>Armand Destais</h3>
		<h5>Web developpeur & Intégrateur</h5>
		<p><b>Aime :</b> Google, Big Bang Theory, Node <br>
		<b>N’aime pas :</b> les graphistes, décrocher le téléphone, les huitres 
		</p>
	</div>
	<div class="stick-team p-2 c-7">
		<img src="images/dieudo.png" alt="">
		<h3>Dieudonné de Lavenne</h3>
		<h5>Directeur associé & Consultant</h5>
		<p><b>Aime :</b> les produits de qualités, les projets audacieux, la convivialité <br>
		<b>N’aime pas :</b> Les chaussures mal cirées, les discours démagogiques, les délais de livraisons
		</p>
	</div>
</div>
<canvas id="world" style="display:none"></canvas>
